<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boomerang App</title>
  <link rel="stylesheet" href="css/uikit.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="author" href="humans.txt">
</head>
<body>
<div id="container" class="uk-container">
    <header>
      <h1>Boomerang</h1>
    </header>

    <h2>Share a part of your diaspora status on facebook and twitter with a link to original post</h2>

    <div id="login">
      <p>Enter With<p>

      <a class="facebook" href="/podurl">Facebook</a>
      <span>or</span>
      <a class="twitter" href="/podurl">Twitter</a>
    </div>

    <script src="js/uikit.min.js"></script>
  </div>
</body>
</html>
