<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boomerang App</title>
  <link rel="stylesheet" href="css/uikit.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="author" href="humans.txt">
</head>
<body>
<div id="container" class="uk-container">
    <header>
      <h1>Boomerang</h1>
    </header>

    <form action="/oauth">
      <label for="url">Enter your pod url:</label>
      <input id="url" type="url" name="url">

      <button class="uk-button uk-button-large uk-button-success" type="submit">Continue -></button>
    </form>

    <script src="js/uikit.min.js"></script>
  </div>
</body>
</html>
